h1{
    font-size: 34px;
    font-family: Impact, Tahoma,'Segoe UI', Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-weight: lighter;
    text-decoration-line: underline;
    text-align: center;
    letter-spacing: 1px;
    padding: 5px;
}

img{
    display:block;
    margin:0px auto;
}

h6{
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: inherit;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

p{
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}

body{
    background-color: #e8f3f3;
    display: block;
    padding: 10px;
    margin: auto;
}


header {
    background:rgb(32, 167, 167);
    color: white;
    padding: 0.5px;
}


footer {
    background: #2d3436;
    color: white;
    margin: auto;
    
}

form{
    height: 330px;
    padding-top: 10px;
    display: table;
    background-color: rgb(215, 223, 220); ;
    text-align: center;
    align-content: center;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


button {
    background: #14a5a5;
    border: solid 1px rgb(32, 167, 167);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  button:hover {
    background: #0d7272;
    color: #F2F3EB;
  }

  input {
    width: calc(100% - 20px);
    min-height: 40px;
    padding-left: 2px;
    padding-right: 2px;
    letter-spacing: .5px;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 10px;
    margin-right: none;
    margin-left: none;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    border-bottom: 2px solid #f0f0f0; }
    input:valid {
      border-color: #2ec5c5; }
    input:focus {
      outline: none;
      border-color: #fbcf34; }

      

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}


input[type=number] {

    -moz-appearance:textfield;

}



.listadoarterias{
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    list-style: none;
    }
    .listadoarterias >* {
        width: calc(50% - 10px - 90px);
        
    }

ul{
    padding-inline-start: 0px !important;
}
    

.nombres{
    font-size: 16px;
    padding: 15.1px;
    display: block;
    letter-spacing: .5px;
    width: calc(100% - 20px);
    min-height: 15px;
    padding-left: 2px;
    padding-right: 2px;
    letter-spacing: .5px;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: none !important;
    margin-left: none;
    border: 0;

}

a{
    font-size: 14px;
}
.resultadoitb{
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    list-style: none;
    }
    .resultadoitb >* {
        width: calc(50% - 10px - 90px);
}




